body{
    margin: 0px;
    display:flex;
}
img{
    width:500px;
    height: 100vh
}
.signupside{
    display:flex;
    font-size:14px;
    flex-direction: column;
    justify-content: center;
    
    background: rgb(212, 210, 210);
    
}
#know{
    font-style: italic;
}
#signupsheet{
    background-color: white;
    
}
.signup{
    padding-left:16px;
    padding-right: 16px;
}
