body{
    margin: 0px;
    display:flex;
    background: rgb(238, 254, 250);
    font-family: "Arial";
}
img{
    width:500px;
    height: 100vh
}
.signupside{
    margin:0;
    font-size:14px;
    min-width: 100%;
    
}
#know{
    font-style: italic;
}
#signupsheet{

    background-color: white;
    box-shadow: 0 4px 8px gray;
    
}

#calltoaction{
    max-width: 750px;
    margin-top:120px;
}
.signup{
    padding-left:24px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}
.signup[type=submit]:hover{
    filter:brightness(0.8);
}
form{
    display:flex;
    justify-content: space-between;
    flex-flow:wrap;
    max-width: 600px;
}
.input{
    display:flex;
    flex-direction: column;
    padding: 16px 16px 16px 0px;
}
input{
    padding:4px 16px;
    border:3px solid rgb(222, 236, 238);
}
label{
    font-size:24px;
}
input[type=submit]
{
    width: 250px;
    height: 50px;
    border:none;
    color: white;
    background-color: green;
    border-radius: 8px;
    margin-top:16px;
    margin-left:24px;
    box-shadow: 0 4px 8px gray;
    
}
input:focus{
    border-color:blue;
}
input:invalid{
    border-color: red;
}
label{
    font-weight: bold;
    color:rgb(98,105,113);
    font-size: 16px;
}
